<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE robot PUBLIC "-//YARP//DTD yarprobotinterface 3.0//EN" "http://www.yarp.it/DTD/yarprobotinterfaceV3.0.dtd">

<robot name="teo" portprefix="/teo" build="0" xmlns:xi="http://www.w3.org/2001/XInclude">

    <xi:include href="./buses/socket/leftArm.xml" />

    <xi:include href="./nodes/ipos/id21.xml" />
    <xi:include href="./nodes/ipos/id22.xml" />
    <xi:include href="./nodes/ipos/id23.xml" />
    <xi:include href="./nodes/ipos/id24.xml" />
    <xi:include href="./nodes/ipos/id25.xml" />
    <xi:include href="./nodes/ipos/id26.xml" />

    <xi:include href="./nodes/cui/id121.xml" />
    <xi:include href="./nodes/cui/id122.xml" />
    <xi:include href="./nodes/cui/id123.xml" />
    <xi:include href="./nodes/cui/id124.xml" />
    <xi:include href="./nodes/cui/id125.xml" />
    <xi:include href="./nodes/cui/id126.xml" />

    <xi:include href="./brokers/leftArm.xml" />

    <xi:include href="./mappers/leftArm.xml" />

    <xi:include href="./wrappers/yarp/leftArm.xml" />

</robot>
