[Desktop Entry]
Name=TEO Apps yarpmanager
Type=Application
MimeType=application/vnd.ms-htmlhelp;
Exec=yarpmanager
NoDisplay=true
StartupNotify=true
Icon=/home/teo/kinematics-dynamics/doc/fig/teo-icon-64x64.png
Path=/usr/local/share/teo-configuration-files/applications
