[Desktop Entry]
Name=TEO Apps yarpmanager
Type=Application
MimeType=application/vnd.ms-htmlhelp;
Exec=yarpmanager
NoDisplay=true
StartupNotify=true
Icon=/usr/local/share/teo-configuration-files/applications/teo-apps-64x64.png
Path=/usr/local/share/teo-configuration-files/applications
